
.form{
  flex: auto
}

.colImageWrapper {
  background: rgba(4, 191, 216, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

.colImage{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

@media (min-width:320px) {
  .colImage {
    height: 30vh;
  }
}

@media (min-width:961px)  {
  .colImage {
    height: 100%;
  }
}

.colFormHeader {
  font-weight: bold;
  color: white;
  padding: 10% 0;
}

.chatButton {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  padding: 15px;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.chatButton svg {
  fill: white;
}