#root {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
}
.window-height{
  height: calc(100vh - 2rem);
}

.infobox-body {
  background-color: var(--color-primary);
  border-radius: 5%;
}
.infobox-info > div {
  color: white;
}
.btn-outline-light:not(:disabled):not(.disabled):focus {
  color: var(--color-primary);
  background-color: white;
  border-color: white;
}

ul {
  list-style: none;
}
.backgroundPrimary {
  background-color: var(--color-primary);
}
.backgroundSecondary {
  background-color: var(--color-secondary);
}
.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.btn-secondary {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary) !important;
}

.btn-light {
  background-color: white !important;
  border-color: white !important;
  color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary) !important;
}
