html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1px 1px;
  width: 100vw;
  height: 100vh;
}
.AppBar {
  grid-area:  1 / 1 / 2 / 13;;
}
.locations {
  grid-area:  4 / 1 / 13 / 3;;
   overflow: auto; 
}
.filter { grid-area: 5 / 1 / 6 / 3; }
.places { grid-area: 6 / 1 / 13 / 3;
overflow-y: auto; }

.info {
  grid-area: 2 / 1 / 5 / 3; ;
}
.TopBar {
  grid-area:  2 / 3 / 3 / 13;;
}

.map {
  grid-area:  3 / 3 / 13 / 13; ;
}



@media (max-width:767.98px){
    .TopBar{ display: none !important;}
    .AppBar { grid-area: 1 / 1 / 2 / 13; }
.info { grid-area: 2 / 1 / 4 / 13; }
.map { grid-area: 4 / 1 / 9 / 13; }
.filter { grid-area: 9 / 1 / 10 / 13; }
.places { grid-area:10/ 1 / 13/13 }
}

#contactCora {
  position: fixed;
  bottom: 2%;
  right: 1%;
}

.btn-outline-primary:not(:disabled):not(.disabled):focus {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
