.section {
  width: 100%;
  padding: 40px 15%;
}

.section h1 {
  font-size: 30px;
  padding: 1em 0;
  font-weight: bold;
}

.section h2 {
  font-size: 15px;
  padding: 1em 0;
}

.normal {
  background: var(--color-primary);
  color: white;
}

.invert {
  background: white;
  color: black;
}

.invert h1 {
  color: var(--color-primary);
}