.intro{
  background: var(--color-primary);
}
.titleBarLeft,
.titleBarRight {
  color: var(--color-primary);
  align-items: center;
}

.title{
  margin: 5%;
}

.titleBarRight::before,
.titleBarLeft::after{
  content: " ";
  display: block;
  flex:auto;
  height: 0px;
  background: var(--color-primary);

}

.titleBarLeft::before,
.titleBarRight::after {
  content: " ";
  display: block;
  flex:auto;
  height: 1px;
  background: var(--color-primary);
}
