.homeLink {
  content: " ";
  width: 40px;
  height: 40px;
  bottom: 3%;
  margin: auto auto 1em auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff;
  border-bottom: 2px #fff;
  cursor: pointer;
  z-index: 1;
}

.fullImage {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
